= effective_form_with(model: [:admin, membership], engine: true) do |f|
  = f.hidden_field :owner_id
  = f.hidden_field :owner_type

  %p.text-muted
    Change a member's information.

  - f.object.current_action = true if f.errors.present?

  = f.static_field :current_action, label: 'Current Membership' do
    = membership.to_s

  = f.check_box :current_action, label: 'Yes, update membership information'

  = f.show_if :current_action, true do
    = f.date_field :joined_on, label: 'Joined', hint: 'When the member first received any membership category'
    = f.date_field :registration_on, label: 'Registered', hint: 'When the membership category last changed'
    = f.text_field :number, hint: 'The membership number. Must be unique.'

    %p.text-muted To update membership categories, use the 'Assign' or 'Reclassify' actions below

    = f.submit 'Update Membership', border: false, center: true, 'data-confirm': "Really update #{f.object.owner}?"
