- membership = current_user.membership
- membership_organizations = current_user.membership_organizations

%h2 Membership

-# Individual membership
- if membership.present?
  - if membership.categories.length == 0
    %p
      You do not have an assigned membership category.
      To fix this, click the Apply to Join button or the Pay Fees button and then complete the wizard.
      You cannot access member-only pages until this has been completed.
      Please contact us if you believe this is an error with your account.

  - elsif membership.categories.length == 1
    %p You are a #{membership.category} member.

  - else
    %p You are a member with the following membership categories:

    %ul
      - membership.categories.each do |category|
        %li= category

  %p Your membership number is ##{membership.number} and you joined on #{membership.joined_on.strftime('%F')}.

  - if membership.registration_on > membership.joined_on
    %p You last changed categories on #{membership.registration_on.strftime('%F')}.

  - if membership.bad_standing?
    %p Your membership is in bad standing with the following reason: #{membership.bad_standing_reason}.

- if current_user.membership_removed?
  %p Your membership was removed on #{current_user.membership_removed_on.strftime('%F')}.

- if membership_organizations.present?
  %p You are a representative for #{pluralize(membership_organizations.length, 'member organization')}.

  %ul
    - membership_organizations.each do |organization|
      %li
        = organization
        = '-'
        = organization.membership.categories.to_sentence

- if current_user.is?(:member) == false
  %p You are not a member.
