= effective_form_with(model: [:admin, fee], engine: true) do |f|
  - if inline_datatable?
    = f.hidden_field :owner_id
    = f.hidden_field :owner_type
  - else
    - collection = { 'Users' => current_user.class.sorted, 'Organizations' => EffectiveMemberships.Organization.sorted }
    = f.select :owner, collection, polymorphic: true

  - if f.object.new_record?
    = f.select :fee_type, EffectiveMemberships.custom_fee_types
  - else
    = f.static_field :fee_type

  = f.price_field :price

  = effective_submit(f)
