= effective_form_with(model: [:admin, fee], engine: true) do |f|
  - if inline_datatable?
    = f.hidden_field :user_id
    = f.hidden_field :user_type
  - else
    = f.select :user_id, {'Members' => current_user.class.members.sorted }, polymorphic: true

  = f.select :category, EffectiveMemberships.custom_fee_categories
  = f.price_field :price

  - if fee.new_record?
    = effective_submit(f)
