= effective_form_with(model: [:admin, fee], engine: true) do |f|
  - if inline_datatable?
    = f.hidden_field :owner_id
    = f.hidden_field :owner_type
  - else
    - raise('todo')
    - collection = EffectiveMembershipsOwner.descendants.map { |d| [d.name.to_s, d.members.sorted] }.to_h
    = f.select :owner_id, collection, polymorphic: true

  = f.select :fee_type , EffectiveMemberships.custom_fee_types
  = f.price_field :price

  - if fee.new_record?
    = effective_submit(f)
