.card
  .card-body
    %h5.card-title Remove

    = effective_form_with(model: [:admin, registrar_action], url: effective_memberships.admin_registrar_actions_path) do |f|
      = f.hidden_field :owner_id
      = f.hidden_field :owner_type

      %p.text-muted
        This action will remove the membership and
        delete any unpurchased fee payment fees and orders.

      = f.check_box :current_action, label: 'Yes, remove this member'

      = f.show_if :current_action, true do
        = f.submit 'Remove', border: false, center: true,
          'data-confirm': "Really remove #{f.object.owner}?"
