.card
  .card-body
    %h5.card-title Not In Good Standing

    = effective_form_with(model: [:admin, registrar_action], url: effective_memberships.admin_registrar_actions_path) do |f|
      = f.hidden_field :owner_id
      = f.hidden_field :owner_type

      - membership = f.object.owner.membership

      - period = EffectiveMemberships.Registrar.current_period
      - date = (EffectiveMemberships.Registrar.bad_standing_date(period: period) rescue false)

      %p.text-muted
        - if date.present?
          Members with outstanding renewal fees are automatically marked
          not in good standing on #{date.strftime('%B %d')}.
          The status is cleared when they pay their fees.
          You can also mark a member as always in bad standing.

      = f.static_field :current_action, label: 'Current Status' do

        - if membership.bad_standing_admin?
          In Bad Standing (set by an Admin) with the following reason: #{membership.bad_standing_reason}.
        - elsif membership.bad_standing?
          In Bad Standing with the following reason: #{membership.bad_standing_reason}.
        - else
          In Good Standing

      - if membership.good_standing?
        = f.check_box :current_action, label: 'Yes, set this member in bad standing'

        = f.show_if :current_action, true do
          = f.text_area :bad_standing_reason, required: true

          = f.submit 'Set In Bad Standing', border: false, center: true,
            'data-confirm': "Really set #{f.object.owner} in bad standing?"

      - if membership.bad_standing_admin?
        = f.check_box :current_action, label: 'Yes, remove in bad standing status'

        = f.show_if :current_action, true do
          = f.submit 'Remove In Bad Standing', border: false, center: true,
            'data-confirm': "Really remove #{f.object.owner} bad standing?"
