.card
  .card-body
    %h5.card-title Register

    = effective_form_with(model: [:admin, registrar_action], url: effective_memberships.admin_registrar_actions_path) do |f|
      = f.hidden_field :owner_id
      = f.hidden_field :owner_type

      - period = EffectiveMemberships.Registrar.current_period

      %p.text-muted
        Register into a new category and optionally create fees.

      = f.static_field :current_action, label: 'Current Membership' do
        None

      = f.check_box :current_action, label: 'Yes, register to a membership'

      = f.show_if :current_action, true do
        - categories = EffectiveMemberships.Category.all
        = f.select :category_id, categories, label: 'Register to'

        = f.text_field :membership_number, hint: "leave blank to assign the next number"

        = f.check_box :skip_fees, label: 'Yes, skip creating fees and just create the membership'

        = f.hide_if :skip_fees, true do
          %p The following fee(s) will be created:
          - month = Time.zone.now.strftime('%B')

          %ul
            %li A #{month} prorated fee

          %p The member will be required to return to the website and make a fee payment

        = f.show_if :skip_fees, true do
          %p
            No fees will be created.

          %p
            The member's fees paid through will be set to the current period.
            They will not be required to purchase a renewal fee until next period.

        = f.submit 'Register', border: false, center: true, 'data-confirm': "Really register #{f.object.owner}?"
