= tabs do
  = tab 'Eligibility' do
    = render 'admin/membership_categories/form_applicant_eligibility', membership_category: membership_category

  = tab 'Fees' do
    = render 'admin/membership_categories/form_applicant_fees', membership_category: membership_category

  = tab 'Wizard Steps' do
    = render 'admin/membership_categories/form_applicant_steps', membership_category: membership_category

  = tab 'Wizard Content' do
    = render 'admin/membership_categories/form_applicant_content', membership_category: membership_category
