= tabs do
  = tab 'Renewals' do
    = render 'admin/membership_categories/form_renewals', membership_category: membership_category

  = tab 'Fee Payment Steps' do
    = render 'admin/membership_categories/form_fee_payment_steps', membership_category: membership_category

  = tab 'Fee Payment Content' do
    = render 'admin/membership_categories/form_fee_payment_content', membership_category: membership_category
