= effective_form_with(model: [:admin, membership_category], engine: true) do |f|
  %h2 Renewals

  %h3 Renewal Fees
  = f.check_box :create_renewal_fees, label: 'Yes, renewal fees should be created'

  = f.show_if(:create_renewal_fees, true) do
    %p Charged to members, every January 2, to renew their dues.
    = f.price_field :renewal_fee

  %h3 Late Fees
  = f.check_box :create_late_fees, label: 'Yes, late fees should be created'

  = f.show_if(:create_late_fees, true) do
    %p Charged to members, on January 2, with outstanding renewal fees
    = f.price_field :late_fee

  = effective_submit(f)
