= tabs do
  = tab 'Membership Category' do
    = render 'admin/membership_categories/form_membership_category', membership_category: membership_category

  - if membership_category.persisted?
    = tab 'Applicants' do
      = render 'admin/membership_categories/form_applicant', membership_category: membership_category

    = tab 'Fee Payments' do
      = render 'admin/membership_categories/form_fee_payments', membership_category: membership_category

    = tab 'Renewals' do
      = render 'admin/membership_categories/form_renewals', membership_category: membership_category

    - if membership_category.respond_to?(:log_changes_datatable)
      = tab 'Logs' do
        = render_inline_datatable(membership_category.log_changes_datatable)
