%p Membership is a #{membership_category.class}

= effective_form_with(model: [:admin, membership_category], engine: true) do |f|
  = f.text_field :title

  = render 'fields_applicants', f: f
  = render 'fields_renewals', f: f

  = effective_submit(f)
