= effective_form_with(model: [:admin, category], engine: true) do |f|
  %h3 Wizard Steps

  %p The following steps will be required when applying for this membership category.

  - f.object.applicant_wizard_steps += EffectiveMemberships.Applicant.required_wizard_steps
  = f.checks :applicant_wizard_steps, f.object.applicant_wizard_steps_collection()

  %h3 Requirements

  %p The following numbers set the minimum number of required items an applicant must provide to complete the step. Leave blank for none.

  - applicant = EffectiveMemberships.Applicant.new

  %table.table.table-sm
    %tbody
      %tr
        %td= applicant.wizard_step_title(:education)
        %td= f.number_field :min_applicant_educations, label: false
        %td minimum number of degrees

      %tr
        %td= applicant.wizard_step_title(:course_amounts)
        %td= f.number_field :min_applicant_courses, label: false
        %td minimum number of courses

      %tr
        %td= applicant.wizard_step_title(:experience)
        %td= f.number_field :min_applicant_experiences_months, label: false
        %td minimimum months of work experience

      %tr
        %td= applicant.wizard_step_title(:references)
        %td= f.number_field :min_applicant_references, label: false
        %td minimimum number of references

      %tr
        %td= applicant.wizard_step_title(:files)
        %td= f.number_field :min_applicant_files, label: false
        %td minimimum number of attached files

  = f.submit
