= tabs do
  = tab 'Category' do
    = render 'admin/categories/form_category', category: category

  - if category.persisted?
    = tab 'Applicants' do
      = render 'admin/categories/form_applicant', category: category

    = tab 'Fee Payments' do
      = render 'admin/categories/form_fee_payment', category: category

    - if category.respond_to?(:log_changes_datatable)
      = tab 'Logs' do
        = render_inline_datatable(category.log_changes_datatable)
