= tabs do
  = tab 'Eligibility' do
    = render 'admin/categories/form_applicant_eligibility', category: category

  = tab 'Fees' do
    = render 'admin/categories/form_applicant_fees', category: category

  = tab 'Applicant Steps' do
    = render 'admin/categories/form_applicant_steps', category: category

  = tab 'Applicant Content' do
    = render 'admin/categories/form_applicant_content', category: category
