= tabs do
  = tab 'Renewals' do
    = render 'admin/categories/form_renewals', category: category

  = tab 'Fee Payment Steps' do
    = render 'admin/categories/form_fee_payment_steps', category: category

  = tab 'Fee Payment Content' do
    = render 'admin/categories/form_fee_payment_content', category: category
