= wizard_card(applicant) do
  - applicant.applicant_course_areas_collection.each do |area|
    - datatable = EffectiveApplicantCoursesDatatable.new(applicant: applicant, applicant_course_area_id: area.id)

    .mb-4
      %h6= area
      = render_simple_datatable(datatable)
      %p #{area} courses: #{applicant.applicant_course_area_sum(applicant_course_area: area)}

  %p
    %strong All courses: #{pluralize(applicant.applicant_courses_sum, 'total course')}
