%p Please select an organization to continue.

= f.radios :organization_id, effective_memberships_select_organization_collection(f.object), label: false
= f.hidden_field :organization_type, value: EffectiveMemberships.Organization.name

= f.show_if(:organization_id, 'new') do
  - organization = f.object.build_organization(email: f.object.user.email)

  = f.fields_for :organization, organization do |fo|
    = fo.hidden_field :email

    = fo.text_field :title, label: 'New Organization Name', required: true, hint: 'Please enter the name of your organization'

    = fo.fields_for :representatives, fo.object.build_representative(user: f.object.user) do |fr|
      = fr.hidden_field :user_id
      = fr.hidden_field :user_type

      - owner = EffectiveRoles.roles.find { |role| role == :owner }
      - raise('expected the EffectiveRoles :owner role to be present') unless owner

      = fr.hidden_field :roles, value: [owner]
