%table.table.table-sm
  %tbody
    %tr
      %th.border-0 Applicant
      %td.border-0
        = applicant.owner.to_s
        %br
        = mail_to(applicant.owner.email)

    - if request.path.start_with?('/admin')
      %tr
        %th User
        %td
          - url = (polymorphic_admin_path(applicant.user) rescue "/admin/users/#{applicant.user.to_param}/edit")
          = link_to(applicant.user, url)

      %tr
        %th Organization
        %td
          - if applicant.organization.present?
            = link_to(applicant.organization, effective_memberships.edit_admin_organization_path(applicant.organization))
          - else
            None

    - if applicant.from_category.present?
      %tr
        %th From Category
        %td= applicant.from_category

    %tr
      %th Category
      %td= [applicant.applicant_type, applicant.category].join(' - ')

    - if applicant.try(:stream).present?
      %tr
        %th Stream
        %td= applicant.stream

    - if applicant.orders.present?
      %tr
        %th Order#{'s' if applicant.orders.length > 1}
        %td
          - applicant.orders.each do |order|
            - if request.path.start_with?('/admin')
              = link_to(order, effective_orders.edit_admin_order_path(order))
            - else
              = link_to(order, effective_orders.order_path(order))

    %tr
      %th Status
      %td
        %span.badge.badge-secondary= applicant.status_label
        = applicant.summary
