%table.table.table-sm
  %tbody
    %tr
      %th.border-0 Applicant
      %td.border-0
        = applicant.owner.to_s
        %br
        = mail_to(applicant.owner.email)

    - if request.path.start_with?('/admin')
      %tr
        %th Owner
        %td
          - url = (polymorphic_admin_path(applicant.owner) rescue "/admin/users/#{applicant.owner.to_param}/edit")
          = link_to(applicant.owner, url)

    - if applicant.from_category.present?
      %tr
        %th From Category
        %td= applicant.from_category

    %tr
      %th Category
      %td
        = applicant.category
        %br
        = applicant.category

    - if applicant.orders.present?
      %tr
        %th Orders
        %td
          - applicant.orders.each do |order|
            = link_to(order, effective_orders.order_path(order))

    %tr
      %th Status
      %td
        %span.badge.badge-secondary= applicant.status
        = applicant.summary
