= render 'layout' do
  = render 'effective/applicants/content', resource: resource

  .card
    .card-body
      - if resource.min_applicant_educations > 0
        %p You must include #{resource.min_applicant_experiences_months} or more months of experience.

      = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
        = f.hidden_field :id
        = f.error :applicant_experiences
        = f.error :applicant_experiences_months

        = f.has_many(:applicant_experiences, cards: true) do |aef|
          %h4 Work Experience

          .row
            .col= aef.text_field :employer
            .col= aef.text_field :position, label: 'Position Title'

          .row
            .col= aef.date_field :start_on, label: 'Start Date', 'data-applicant-experiences-month': true
            .col
              = aef.date_field :end_on, label: 'End Date', 'data-applicant-experiences-month': true
              = aef.check_box :still_work_here, label: 'I still work here'

          .row
            .col
              = aef.radios :category, aef.object.class.const_get(:CATEGORIES), inline: true,
                label: 'Employment', 'data-applicant-experiences-month': true

              = aef.show_if :category, 'Part Time' do
                = aef.percent_field :percent_worked, label: 'Percent time worked',
                  hint: 'required when part time', 'data-applicant-experiences-month': true

            .col= aef.static_field :months, label: 'Calculated Months', value: aef.object.months.to_i

          = aef.text_area :tasks_performed, class: 'mb-0'

        %h3 Total Months
        .row
          .col= f.static_field :applicant_experiences_months, label: 'Entered Months', value: f.object.applicant_experiences_months.to_i
          .col
            = f.static_field :min_applicant_experiences_months, label: 'Required Months' do
              #{f.object.min_applicant_experiences_months} months, or #{f.object.min_applicant_experiences_months / 12} years

        = f.error :applicant_experiences_months

        /= f.text_area :applicant_experiences_details, label: 'Additional Experiences Details'

        = f.save 'Save and Continue'
