= render 'layout' do
  %h1= @page_title

  - membership_categories = resource.user.applicant_membership_categories_collection()

  - if membership_categories.blank?
    %p There are no membership categories available right now. Try again later!

  - if membership_categories.present?
    %p Please select a category to continue.

    = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
      = f.hidden_field :id

      = f.select :membership_category_id, membership_categories

      - membership_categories.each do |mc|
        = f.show_if(:membership_category_id, mc.id) do
          .card.mb-4
            .card-body
              %h5.card-title= mc.to_s
              = mc.rich_text_body

      = f.save 'Save and Continue'
