= render 'layout' do
  = render 'effective/applicants/content', resource: resource

  .card
    .card-body
      %p Should your application be approved, you are eligible to receive a Professional Stamp.

      %p Please confirm your name as it should appear on any Professional Stamp.

      = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
        = f.hidden_field :id

        = f.fields_for(:stamps, f.object.stamp) do |fs|
          = fs.hidden_field :applicant_id
          = fs.hidden_field :applicant_type

          = fs.hidden_field :owner_id
          = fs.hidden_field :owner_type

          = fs.hidden_field :price
          = fs.hidden_field :tax_exempt
          = fs.hidden_field :qb_item_name

          = render 'effective/stamps/fields', f: fs

        %p Stamps will be processed after approval of this application.

        = f.save 'Save and Continue'
