%h1= @page_title

%p Welcome #{current_user}!

%p InProgress: #{resource.in_progress?}

= effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
  = f.hidden_field :id
  = f.save 'Save and Continue'
