= render 'layout' do
  = render 'effective/applicants/content', resource: resource

  - raise('expected a submitted applicant') unless resource.was_submitted?
  - raise('expected a purchased applicant submit_order') unless resource.submit_order&.purchased?

  .alert.alert-success.mb-4
    This application was submitted on #{resource.submitted_at.strftime('%F')}

  - if resource.missing_info?
    = card do
      = render 'effective/applicants/missing_info', applicant: resource

  - unless resource.approved?
    = card do
      %p
        Your application must still be approved.
        We will send
        %strong= resource.user.email
        an email notifying you of the application's approval status.

  = card do
    = render 'effective/applicants/summary', applicant: resource

  - if resource.min_applicant_references.to_i > 0 || resource.applicant_references.present?
    = card do
      %h3 Confidential References
      %p
        References are automatically sent a reference request.
        Click 'New' to add an additional reference, or click 'Notify' to resend the reference request.

      = render_datatable(EffectiveApplicantReferencesDatatable.new(applicant: resource), inline: true, simple: true)

  .mb-4
    = collapse('Show application...', card_class: 'my-2') do
      = render 'effective/applicants/applicant', applicant: resource

  .mb-4
    = collapse('Show orders...', card_class: 'my-2') do
      = render 'effective/applicants/orders', applicant: resource

  = link_to "Return to Dashboard", root_path, class: 'btn btn-lg btn-primary btn-block'
