= effective_form_with(model: applicant_reference, engine: true) do |f|

  %h2 My Information
  %p Please confirm your name, email, phone and address:

  .row
    .col= f.text_field :name
    .col= f.email_field :email
    .col= f.tel_field :phone

  = effective_address_fields(f, :reference_address)

  %h2 Applicant Reference

  = f.select :known, Effective::ApplicantReference::KNOWNS, label: 'I have known the applicant for', required: true

  = f.radios :relationship, Effective::ApplicantReference::RELATIONSHIPS, required: true,
    label: 'I have known or been associated with the applicant as their'

  - reservations = [['Yes, I have reservations', true], ['No, I do not have reservations', false]]

  = f.radios :reservations, reservations,
    label: "Do you have any reservations about the applicant?", inline: true, required: true

  = f.show_if :reservations, true do
    = f.text_area :reservations_reason,
      label: 'Please provide a brief but candid explanation of your reservations'

  .mt-4

  = f.text_area :work_history,
    label: "Work History - Please provide information on the applicant's work history and work ethic",
    hint: "If you are an employer or supervisor please provide information on the term of employment, the responsibilities of the position, and any significant projects undertaken by the individual of which you are aware or with which you have been involved."

  = f.check_box :accept_declaration, label: 'Yes, I declare that the above information is true and accurate'

  = f.submit 'Complete Reference'
