= effective_form_with(model: applicant_reference, engine: true) do |f|
  = f.hidden_field :applicant_id
  = f.hidden_field :applicant_type

  = f.text_field :name

  .row
    .col= f.email_field :email
    .col= f.tel_field :phone

  .row
    .col= f.select :relationship, Effective::ApplicantReference::RELATIONSHIPS
    .col= f.select :known, Effective::ApplicantReference::KNOWNS, label: 'Known for'

  - if f.object.new_record?
    %p An email will be sent asking them to complete a reference declaration form.
    = f.submit('Create and Notify Reference')
  - else
    = f.submit
