%table.table.table-sm
  %tbody
    %tr
      %th Category
      %td= fee.category

    - if fee.category.present?
      %tr
        %th Membership Category
        %td
          - if request.path.start_with?('/admin')
            = link_to(fee.category, effective_memberships.edit_admin_category_path(fee.category))
          - else
            = fee.category

    - if request.path.start_with?('/admin')
      %tr
        %th Owner
        %td
          - url = (edit_admin_user_path(fee.owner) rescue "/admin/users/#{fee.owner.to_param}/edit")
          = link_to(fee.owner, url)

    %tr
      %th Purchased
      %td
        - if fee.purchased_order.present?
          = link_to(fee.purchased_order, effective_orders.admin_order_path(fee.purchased_order))
        - else
          Not Purchased

    %tr
      %th Period
      %td= fee.period

    %tr
      %th Price
      %td= price_to_currency(fee.price)
