%p
  %span.badge.badge-secondary= applicant.status
  = applicant.summary

%p Process applicant:

= tabs(list: { class: 'nav nav-pills'}, content: { class: 'tab-content border-0' }, active: :none) do
  - if EffectiveResources.authorized?(self, :complete, applicant)
    = tab 'Complete this Applicant' do
      = render('admin/applicants/form_complete', applicant: applicant)

  - if EffectiveResources.authorized?(self, :approve, applicant)
    = tab 'Approve this Applicant' do
      = render('admin/applicants/form_approve', applicant: applicant)

  - if EffectiveResources.authorized?(self, :decline, applicant)
    = tab 'Decline this Applicant' do
      = render('admin/applicants/form_decline', applicant: applicant)
