%p
  %span.badge.badge-secondary= applicant.status_label
  = applicant.summary

%p Process applicant:

= accordion do
  - if EffectiveResources.authorized?(self, :complete, applicant)
    = collapse 'Complete this Applicant' do
      = render('admin/applicants/form_complete', applicant: applicant)

  - if EffectiveResources.authorized?(self, :missing, applicant)
    = collapse 'Missing Information' do
      = render('admin/applicants/form_missing_info', applicant: applicant)

  - if EffectiveResources.authorized?(self, :approve, applicant)
    = collapse 'Approve this Applicant' do
      = render('admin/applicants/form_approve', applicant: applicant)

  - if EffectiveResources.authorized?(self, :decline, applicant)
    = collapse 'Decline this Applicant' do
      = render('admin/applicants/form_decline', applicant: applicant)
