%p
  %span.badge.badge-secondary= applicant.status_label
  = applicant.summary

%table.table.table-sm.table-striped
  %thead
    %tr
      %th Status
      %th Date Reached
      %th Details
      %th
        - # Next action button
  %tbody

    -# Draft
    %tr
      %td In Progress
      %td= applicant.created_at.strftime('%F')
      %td
        - if applicant.was_submitted?
          = icon('check', class: 'small-1')
          Done
        - else
          = '-'
      %td

    - # Submitted
    %tr
      %td Application Submitted
      %td= applicant.submitted_at&.strftime('%F') || '-'
      %td
        - if applicant.submit_order.present?
          = link_to(applicant.submit_order, effective_orders.admin_order_path(applicant.submit_order))
        - else
          = '-'
      %td

    - # Waiting to Complete
    %tr
      %td Waiting to Complete
      %td= applicant.submitted_at&.strftime('%F') || '-'
      %td
        - applicant.completed_requirements.each do |requirement, completed|
          - next if requirement.to_s == 'Applicant References'

          %p
            = icon((completed ? 'check' : 'x'), class: 'small-1')
            = requirement

        - if applicant.applicant_references_required?
          %p
            - if applicant.completed_requirements['Applicant References']
              = icon('check', class: 'small-1')

            = applicant.applicant_references.count(&:completed?)
            = '/'
            = applicant.min_applicant_references
            Required References Responded
        - else
          - if applicant.applicant_references.present?
            %p
              = applicant.applicant_references.count(&:completed?)
              = '/'
              = applicant.applicant_references.count
              References Responded

          %p
            = icon('check', class: 'small-1')
            References Not Required

      %td
        - if applicant.submitted?
          = link_to 'Complete Applicant', '#process', 'data-click-tab': true, class: 'btn btn-sm btn-primary'

    - # Missing Information
    %tr
      %td Missing Information
      %td= applicant.missing_info_at&.strftime('%F') || '-'
      %td= applicant.missing_info_reason
      %td

    - # Completed
    %tr
      %td Application Completed
      %td= applicant.completed_at&.strftime('%F') || '-'
      %td
        - if applicant.completed_at.present?
          = icon('check', class: 'small-1')
          Done
      %td

    - # Reviewed
    - if EffectiveMemberships.applicant_reviews?
      %tr.effective-memberships-applicant-status-reviewed
        %td Reviews
        %td= applicant.reviewed_at&.strftime('%F') || '-'
        %td
          - applicant.reviewed_requirements.each do |requirement, completed|
            - next if requirement.to_s == 'Applicant Reviews'

            %p
              = icon((completed ? 'check' : 'x'), class: 'small-1')
              = requirement

          - if applicant.applicant_reviews_required?
            %p
              - if applicant.reviewed_requirements['Applicant Reviews']
                = icon('check', class: 'small-1')

              = applicant.applicant_reviews.count(&:completed?)
              = '/'
              = applicant.min_applicant_reviews
              Reviews Completed
          - else
            %p
              = icon('check', class: 'small-1')
              Reviews Not Required

        %td
          - # Button to create reviews here

    %tr
      %td Waiting to Process
      %td
        - if EffectiveMemberships.applicant_reviews?
          = applicant.reviewed_at&.strftime('%F') || '-'
        - else
          = applicant.completed_at&.strftime('%F') || '-'
      %td
      %td
        - if applicant.was_submitted? && !(applicant.approved? || applicant.declined?)
          = link_to 'Process Applicant', '#process', 'data-click-tab': true, class: 'btn btn-sm btn-primary'

    %tr
      %td Processed
      %td= (applicant.approved_at&.strftime('%F') || applicant.declined_at&.strftime('%F') || '-')
      %td
        - if applicant.was_approved? && !applicant.approved?
          = icon('check', class: 'small-1')
          Approved

        - elsif applicant.was_declined? || applicant.declined?
          = icon('check', class: 'small-1')
          Declined
          %br
          = applicant.declined_reason

        - elsif applicant.approved?
          = icon('check', class: 'small-1')
          Approved
      %td
